/* Inter font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
/* Urbanist font */
@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");
/* Days One font */
@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-seashell: #f1f1f1;
  --color-portage: #a294f9;
  --color-mona-lisa: #ffa599;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Custom Styles */

  /* Fonts */
  --font-inter: "Inter", Arial, Helvetica, sans-serif;
  --font-urbanist: "Urbanist", Arial, Helvetica, sans-serif;
  --font-days-one: "Days One", Arial, Helvetica, sans-serif;

  /* Typography */
  --text-xxl: 28px;

  /* Colors */
  --color-primary: #4a628a;
  --color-half-baked: #7ab2d3;
  --color-gray: #808080;
  --color-dove-gray: #666666;
  --color-card-border-color: #ffbbb2;
  --color-sunset-orange: #ff5a44;
  --color-cinder: #15151e;

  /* Shadows */
  --shadow-logo-box: inset 4px 4px 6px 0px var(--color-mona-lisa);
  --shadow-card: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

@layer utilities {
  .label-text {
    @apply font-inter text-sm font-light leading-5 text-gray;
  }

  .title-text {
    @apply font-urbanist text-[22px] font-medium leading-5 text-cinder;
  }

  .title-table {
    @apply font-urbanist text-[22px] font-bold text-center leading-5 text-cinder;
  }

  .points-text {
    @apply font-days-one text-xxl font-medium leading-5 text-dove-gray;
  }

  .gp-time {
    @apply text-sunset-orange;
  }

  .table-heading-text {
    @apply font-inter text-lg font-bold text-cinder uppercase;
  }

  .table-data-text {
    @apply font-inter text-lg font-normal text-dove-gray;
  }
}

@layer components {
  .stats-card {
    @apply w-full max-w-[350px] h-[120px] p-4 flex justify-between items-center gap-12 rounded-[10px] bg-white border-l-4 border-r-4 border-card-border-color shadow-card overflow-hidden;
  }

  .grand-prix-card {
    @apply w-full p-4 flex justify-between items-center gap-12 rounded-[10px] bg-white border-b-4 border-card-border-color overflow-hidden;
  }

  .logo-box {
    @apply max-w-20 max-h-20 p-4 rounded-full bg-white shadow-logo-box;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--color-seashell);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  /* Custom styles */
  @apply px-10 py-5;
}
